*~
.ipynb_checkpoints/
creds.yml
Tweet-Data
saved_pickles
lib/*.pyc
Capstone_Presentation.aux
Capstone_Presentation.log
Capstone_Presentation.nav
Capstone_Presentation.out
Capstone_Presentation.snm
Capstone_Presentation.toc
