*~
.ipynb_checkpoints/
creds.yml
Tweet-Data
saved_pickles
lib/*.pyc
Capstone_Presentation.aux
Capstone_Presentation.log
Capstone_Presentation.nav
Capstone_Presentation.out
Capstone_Presentation.snm
Capstone_Presentation.toc
Capstone_ReportNotes.bib
Capstone_Report.aux
Capstone_Report.log
Capstone_Report.out
Capstone_Summary_Slides.aux
Capstone_Summary_Slides.log
Capstone_Summary_Slides.nav
Capstone_Summary_Slides.out
Capstone_Summary_Slides.snm
Capstone_Summary_Slides.toc
